/******Tag Selectors******/
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
}
/******Class Selectors******/
.attribution { 
    font-size: 11px;
    margin-top: 40px;
    margin-right: 85px;
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
     text-decoration: none; 
    }
.attribution a:hover {
    color: hsl(0, 0%, 100%);
}
.background-container {
    background-color: hsl(212, 45%, 89%);
    display: inline-block;
    height: 90rem;
    width: 90rem;
}
.improve{
    color: hsl(218, 44%, 22%);
    text-align: center;
}
.qr-code{
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 28px;
    position: relative;
    width: 85%;
}
.scan{
    color: hsl(220, 15%, 55%);
    text-align: center;
}
.content-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    display: inline-block;
    height: 37.5rem;
    width: 25rem;
    margin-top: 145px; 
    margin-left: 475px;
    position: relative;
}

@media screen and (max-width: 896px){
    .attribution { 
      font-size: 11px;
      margin-top: 40px;
      margin-right: 10px;
      text-align: center;
  }
    .background-container {
        background-color: hsl(212, 45%, 89%);
        display: inline-block;
        height: 23.4375rem;
        width: 23.4375rem;
        }
    .content-container {
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        display: inline-block;
        height: 80%;
        width: 60%;
        margin-top: 145px; 
        margin-left: 70PX;
        position: relative;
    }
  }